{
	"trailingComma": "all",
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"tabWidth": 1,
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto"
}
